.container-div {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	background: url(/images/background.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.main {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.main-container button {
	padding: 7px 12px;
	background-color: rgb(194, 207, 56);
	margin: 0px 5px;
}
